<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Edit Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:action="@{/events/edit}">
    <div th:each="event : ${events}">
        <div class="form-group">
            <label>ID
                <p th:text="${event.id}"></p>
                <input type="hidden" th:value="${event.id}" name="eventId" />
            </label>
        </div>
        <div class="form-group">
            <label>Name
                <p th:text="${event.name}"></p>
                <input type="text" name="name" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>Description
                <p th:text="${event.description}"></p>
                <input type="text" name="description" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Edit Event" class="btn btn-success">
        </div>
    </div>
</form>

</body>
</html>